page-cart {
    .nolinebreak {
        float: left;
        padding-right: 10px;
    }

    .element.style {
        background-color: rgb(0, 39, 56);
    }

    .toolbar[transparent] .toolbar-background {
        background-color: rgb(0, 39, 56);
    }

    .content-md {
        color: #000;
        background-color: aliceblue;
    }

}
